.signUp-form-container {
    width: 50%;
    height: fit-content;
    padding: 15px 70px;
    margin: 0px auto;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(153, 178, 234, .7);
  }
  
  .signUp-form-title{
    align-self: center;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  
  label {
    color: white;
    font-size: 22px; 
  }
  
  .signUp-buttons {
    display: flex;
    justify-content: center;
  }
  
  #submit-button {
    align-self: center;
    background-color: #0B4779;
    font-size: 20px;
    font-weight: bold;
    margin: 0 2px;
  }
  
  #cancel-button {
    align-self: center;
    background-color: #0B4779;
    font-size: 20px;
    font-weight: bold;
    margin: 0 2px;
  }
  
  #text-muted {
    align-self: center;
    color: #0B4779;
    font-size: 20px;
    text-align: center;
  }
  
  @media only screen and (max-width : 375px) {
    .signUp-form-container {
      width: 90%;
    }
  
    .signUp-form-title{
      font-size: 25px;
    }
  
    label {
      font-size: 18px;
    }
  
    #submit-button {
      font-size: 19px;
    }
  }