.addSeries-form-container {
    width: 50%;
    height: fit-content;
    padding: 15px 70px;
    margin: 0px auto;
    background-color: lightcyan;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(153, 178, 234, .7);
  }
  
  .addSeries-form-title {
    align-self: center;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  
  .addSeries-form-label {
    font-size: 30px;
  }
  
  #add-button {
    align-self: center;
    background-color: #0B4779;
    font-size: 30px;
    width: 100px;
  }
  
  @media only screen and (max-width : 375px) {
    .addSeries-form-container {
      width: 90%;
    }
    .addSeries-form-title{
      font-size: 35px;
    }
    .addSeries-form-label {
      font-size: 20px;
    }
    
  }