@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Shojumaru&display=swap');

.homeStatement {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: black 2px 2px 4px;
}

#fan-favorites {
  font-size: 10px;
}

/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 768px) {
    .homeStatement {
        font-size: 25px;
    }
    #fan-favorites {
      font-size: 15px;
    }
}

/*---------------Media Queries iPad Pro---------------*/

@media only screen and (min-width: 1024px) {

    .homeStatement {
        font-size: 35px;
    }
    #fan-favorites {
      font-size: 25px;
    }

}

/*---------------Media Queries Laptop---------------*/


@media only screen and (min-width: 1366px) {
    .homeStatement {
        font-size: 55px;
    }
    #fan-favorites {
      font-size: 40px;
      margin-bottom: 20px; 
    }
}